// breakpoint
$breakpoints: (
  "sm": "screen and (min-width: 576px)",
  "md": "screen and (min-width: 768px)",
  "lg": "screen and (min-width: 992px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// sizing
$header-height-sp: 60px;

// color
$white: #fff;
$main-color: #2979ff;

// font
$main-font: "Noto Sans", sans-serif;
$signature-font: "Nothing You Could Do", cursive;

p {
  font-size: 0.875rem;
  line-height: 1.8;

  @include mq(md) {
    font-size: 1rem;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main {
  transition: 0.5s;
  margin-top: 60px;

  @include mq(md) {
    margin-top: 0;
    margin-left: 100px;
  }

  &.open {
    // margin-top: 280px;

    @include mq(md) {
      margin-top: 0;
      margin-left: 400px;
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;

  @include mq(md) {
    width: 80%;
    max-width: 1200px;
  }
}

.section_ttl_block {
  margin-bottom: 4em;
  border-left: 2px solid #000;
  padding-left: 2em;

  @include mq(md) {
    margin-bottom: 7em;
    padding-left: 4em;
  }
}
.section_ttl {
  font-size: 2rem;
  font-weight: bold;
  font-family: $main-font;

  @include mq(md) {
    font-size: 4rem;
  }

  span {
    color: $main-color;
  }
}
.section_subttl {
  font-size: 1rem;
  margin-top: 1em;
}

// animation
.typewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 700ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

// loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  -webkit-transition: all 1.2s ease;
  transition: 1s;
  color: $main-color;
  background-color: $white;

  &.done {
    top: -100%;
    pointer-events: none;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  width: 120px;
  height: 120px;
  width: 20px;
  height: 20px;
  background-color: $main-color;
  animation: spinner 1.4s infinite linear forwards;
}

@keyframes spinner {
  0% {
    box-shadow: 0;
    transform: translate(-50%, -50%) rotate(0) scale(0.5);
  }
  50% {
    box-shadow: -25px 0, 25px 0, 0 -25px, 0 25px, 25px 25px, -25px -25px,
      25px -25px, -25px 25px;
    transform: translate(-50%, -50%) rotate(90deg) scale(1);
    background-color: transparent;
  }
  100% {
    opacity: 0.5;
    box-shadow: 0;
    transform: translate(-50%, -50%) rotate(180deg) scale(0.5);
  }
}

// header
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height-sp;
  z-index: 10;
  transition: 0.5s;

  @include mq(md) {
    width: 100px;
    height: 100%;
  }

  &.hide {
    top: -#{$header-height-sp};
  }
}
.header_bar {
  width: 100%;
  height: 100%;
  position: relative;
  background: $white;
  z-index: 10;
}

.header_ttl {
  height: $header-height-sp;
  line-height: $header-height-sp;
  position: absolute;
  top: 0;
  left: 10px;

  @include mq(md) {
    width: 100%;
    left: 0;
  }
}

.header_ttl_inner {
  @include mq(md) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 40px;
  }
}
.header_ttl1 {
  font-family: $signature-font;

  @include mq(md) {
    font-family: $main-font;
  }
}
.header_ttl2 {
  display: none;
  margin-top: 1em;
  font-family: $signature-font;
  writing-mode: vertical-lr;

  @include mq(md) {
    display: block;
  }
}

.menuBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: $header-height-sp;

  @include mq(md) {
    top: 280px;
    left: 0;
    width: 100%;
    height: calc(100% - 410px);
  }

  &:hover {
    cursor: pointer;
  }
  &.close {
    .menuBtn_line {
      &:first-child {
        transform: rotate(135deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(-135deg);
      }
    }
  }
}
.menuBtn_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.menuBtn_line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #000;
  width: 23px;
  height: 2px;
  transition: 0.5s;

  &:first-child {
    transform: translateY(-300%);
  }
  &:last-child {
    transform: translateY(300%);
  }
}

.header_contactBtn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 130px;
  z-index: 10;
  background: $main-color;
  display: none;

  @include mq(md) {
    display: block;
  }
}
.header_contactBtn_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  @include mq(md) {
    flex-direction: column;
    text-align: center;
  }
}
.header_contactBtn_icon {
  font-size: 1.5em;
}
.header_contactBtn_label {
  font-family: $main-font;
  margin-top: 0.75em;
  font-size: 0.875rem;
}

.menu {
  position: fixed;
  top: -160px;
  left: 0;
  padding: 1em 2em;
  width: 100%;
  height: 220px;
  background: $main-color;
  box-sizing: border-box;
  transition: 0.5s;

  @include mq(md) {
    top: 0;
    left: -200px;
    bottom: 0;
    padding: 4em 2em;
    width: 300px;
    height: 100%;
  }

  &.show {
    top: $header-height-sp;

    @include mq(md) {
      top: 0;
      left: 100px;
    }
  }
}

.menu_item a {
  padding: 1em 0;
  width: 100%;
  color: $white;
  display: inline-block;

  span {
    position: relative;
    padding-bottom: 3px;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: solid 1px $white;
      transition: 0.5s;
    }
  }

  &:hover span:after {
    width: 100%;
  }
}

// hero
.hero {
  height: calc(100vh - #{$header-height-sp});
  padding: 0 10%;
  position: relative;

  @include mq(md) {
    height: 100vh;
  }
}
.hero_inner {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: $white;
  width: 250px;

  @include mq(md) {
    width: 600px;
  }
}
.hero_catchcopy {
  width: 100%;
  font-size: 2rem;
  font-family: $main-font;
  letter-spacing: 2px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;

  @include mq(md) {
    font-size: 5rem;
  }

  &.typewriter {
    animation-delay: 2s;
  }
}
.hero_desc {
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;

  @include mq(md) {
    font-size: 2rem;
  }

  &.typewriter {
    animation-delay: 5s;
  }
}

// message
.section-message {
  padding: 100px 0;
}
.message_body {
  display: flex;
  justify-content: space-around;
}
.message_img {
  width: 30%;
  text-align: center;
  position: relative;

  img {
    width: 100%;
    max-width: 300px;
  }
}
.message_txt {
  width: 70%;
  padding-left: 2em;

  @include mq(md) {
    padding: 2em;
  }

  > * + * {
    margin-top: 1em;
  }
}

// service
.section-service {
  background: url("../assets/img/hero-bg1.jpg") center/cover;
  color: $white;

  .filter {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .container {
    padding: 100px 0;
  }
  .section_ttl_block {
    border-left-color: $white;
  }
}
.service_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service_item {
  width: 100%;

  @include mq(md) {
    width: calc((100% - 30px) / 2);
  }
  @include mq(lg) {
    width: calc((100% - 30px * 3) / 4);
  }
}
.service_item_img {
  width: 100%;
  padding: 2em;
  text-align: center;
  box-sizing: border-box;

  img {
    width: 100%;
    max-width: 100px;
  }
}
.service_item_content {
  padding: 2em 1em;
}
.service_item_ttl {
  margin-bottom: 1em;
}

// works
.section-works {
  padding: 100px 0;
}
.works_info {
  margin-bottom: 3em;
  text-align: center;
}
.works_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.works_item {
  width: 80%;

  margin: 0 auto 50px auto;
  cursor: pointer;

  @include mq(md) {
    width: calc((100% - 30px * 2) / 3);
    max-width: 320px;
  }
}
.works_item_img {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #e0e0e0;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.works_item_content {
  padding: 0.75em;
}
.works_item_tag {
  font-size: 0.75rem;
  background: $main-color;
  color: $white;
  padding: 0.5em 1em;
}
.works_item_ttl {
  margin-top: 1em;
  text-align: center;
}

// モーダル
.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;

  @include mq(md) {
    top: 0;
    left: 100px;
    width: calc(100% - 100px);
    height: 100vh;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.modal_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0.9);
  position: relative;
  z-index: 20;
}

.modal_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  max-width: 500px;
  background-color: #fff;
}

.modal_inner {
  padding: 10px 30px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow-y: scroll;
}
.modal_inner img {
  width: 100%;
  height: auto;
  display: none;

  &.show {
    display: block;
  }
}

.modal_close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 20px;
  cursor: pointer;

  &:before {
    content: "\f00d";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
  }
}

// contact
.section-contact {
  background: url("../assets/img/contact-bg.jpg") center/cover;
  padding: 100px 0;

  .section_ttl_block {
    color: $white;
    border-left-color: $white;
  }
}

.footer {
  padding: 1em;
}
.copyright {
  font-size: 0.75rem;
  text-align: center;
}
#page_top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 5%;
  bottom: -50px;
  background: $main-color;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 25px;
  transition: 0.5s;

  &.show {
    bottom: 5%;
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      transform: scale(1.4);
    }

    &::before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f106";
      font-size: 25px;
      color: #fff;
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      text-align: center;
    }
  }
}

// library
.slidein[data-scroll] {
  transition: all 1s ease;
}
.slidein[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0) scale(1);
}
.slidein[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-100%) scale(0.1);
}

.slideup.words {
  .char {
    animation: slide-up 2s forwards;
    animation-delay: calc(0.5s + (0.1s * var(--char-index)));

    @keyframes slide-up {
      from {
        transform: translateY(125%);
        opacity: 0;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
        font-size: 7rem;
      }
    }
  }
}
